.bigpicture {
	text-align: center;
	background-size: cover;
	background-position: center center;
}

.bigpicture img {
	width: 100%;
}

.category {
	display: flex;
	justify-content: center;
}

.category>article {
	text-align: center;
	padding: 0.5%;
	padding-right: 10%;
	padding-left: 10%;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.category a {
	font-size: 17px;
}

.category>:first-child {
	border-left: 1px solid black;
	background-color: #FF8400;
}

.fairytale {
	width: 100%;
	padding-top: 5%;
}

.fairytale h2 {
	font-size: 30px;
	padding-bottom: 20px;
}

.fairytale p {
	font-size: 19px;
}

.fairytale>article {
	display: flex;
	padding-top: 10%;
}

.fairytale>article img {
	width: 80%;
}

.fairytale>:first-child .fairytale_text {
	padding-top: 10%;
}

.fairytale>:last-child img {
	padding-top: 5%;
}

.fairytale_left {
	padding-left: 15%;
}

.fairytale_right {
	padding-left: 15%;
}

.fairytale_mid .fairytale_text {
	padding-right: 10%;
	padding-top: 5%;
}

.fairytale_text {
	width: 50%;
	padding-left: 15%;
}

.fairytale_right .fairytale_text {
	padding-right: 15%;
}

.none_n{
	display: none;
}

.logoimg {
	padding: 4%;
	text-align: center;
}

.trinity_mom {
	width: 100%;
	display: flex;
}

.trinity_mom>article {
	flex: 1;
	overflow: hidden;
	transition: flex 1.5s ease;
}

.trinity_mom>article:hover{
	flex: 10;
}

.trinity {
	width: 100%;
	height: 1000px;
	position: relative;
}

.trinity1 {
	background-image: url(./../img/jeju1.jfif);
	background-size: cover;
}

.trinity2 {
	background-image: url(./../img/jeju2.jpg);
	background-size: cover;
}

.trinity3 {
	background-image: url(./../img/jejudialect.png);
	background-size: cover;
}

.trinity img {
	width: auto;
	height: 1000px;
}

.trinity_text {
	text-align: center;
	font-size: 35px;
	padding-top: 500px;
	position: absolute;
	padding-left: 650px;
	color: white;
	font-weight: bold;
	white-space: nowrap;
}




@media screen and (max-width : 1260px){
	.category {
		display: flex;
		justify-content: center;
        padding-top: 20px;
	}

	.category>article {
		text-align: center;
		padding: 0.5%;
		padding-right: 8.5%;
		padding-left: 8.5%;
		border-right: 1px solid black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.category a {
		font-size: 15px;
	}

	.category>:first-child {
		border-left: 1px solid black;
		background-color: #FF8400;
	}
	.block{
		display: none;
	}

	.none_n{
		display: block;
	}
	.fairytale img {
		width: 60%;
		padding-left: 60px;
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.fairytale h2{
		padding-top: 30px;
		padding-left: 10px;
		font-size: 30px;
	}
	.fairytale p{
		padding-left: 10px;
		font-size: 18px;
	}
	.logoimg2 {
		padding: 4%;
		text-align: center;
	}
	
	.trinity_mom2 {
		width: 100%;
		display: flex;
	}
	
	.trinity_mom2>article {
		flex: 1;
		overflow: hidden;
		transition: flex 1.5s ease;
	}
	
	.trinity_mom2>article:hover{
		flex: 10;
	}
	
	.trinity7 {
		width: 100%;
		height: 1000px;
		position: relative;
	}
	
	.trinity4 {
		background-image: url(./../img/jeju1.jfif);
		background-size: cover;
	}
	
	.trinity5 {
		background-image: url(./../img/jeju2.jpg);
		background-size: cover;
	}
	
	.trinity6 {
		background-image: url(./../img/jejudialect.png);
		background-size: cover;
	}
	
	.trinity7 img {
		width: auto;
		height: 1000px;
	}
	
	.trinity_text2 {
		white-space: nowrap;
		text-align: center;
		font-size: 20px;
		padding-top: 500px;
		position: absolute;
		padding-left: 250px;
		color: white;
		font-weight: bold;
	}
}





@media only screen and (max-width: 1024px) {
    footer .footer_top{
        display: none;
    }
    .bottom1{
        display: block;
    }
    .bottom2>h2{
        color: #574747;
        font-size: 10vw;
        font-weight: bold;
        text-align: left;
        margin-left: 50px;

    }
    .bottom2>p{
        margin-top: -30px
    }
    .none2{
		background-color: #1D3B1E;
        display: block;
    }
    .footer_img{
        width: 50vw;
    }
}


@media only screen and (max-width: 430px) {
    footer{
        display: block;
    }
    .none2{
        text-align: left;
        margin-left: 50px;
    }

}

